[Desktop Entry]
Encoding=UTF-8
Name=Illustrator CC
Exec=bash /home/elias/.illustratorCC17/launcher/launcher.sh
Type=Application
StartupNotify=true
Comment=Illustrator CC for Linux
Icon=/home/elias/.illustratorCC17/launcher/AiIcon.png
StartupWMClass=illustrator.exe
Name[fr_FR]=Illustrator CC
