snippet cc
\cite[$1]{$2}
endsnippet

snippet tc
\textcite[$1]{$2}
endsnippet

snippet pc
\parencite[$1]{$2}
endsnippet

snippet fc
\fullcite[$1]{$2}
endsnippet

snippet ftc
\footcite[$1]{$2}
endsnippet

snippet ffc
\footfullcite[$1]{$2}
endsnippet

snippet ce
\cite$1[$2]{$3}
endsnippet

snippet bc
\\$1cite[$2]{$3}
endsnippet
